
div.responsive .donation-level-input-container label {
    background-color: #333;
}

div.responsive .donation-level-input-container label:hover, div.responsive .donation-level-input-container label.active {
    background-color: #ffde00;
    color: #333;
}

div.responsive .donation-level-input-container label.unselected:hover, label.button-style.unselected:hover {
    background-color: #ffe01a;
    color: #333;
}

label.button-style:hover, label.button-style.active {
    background-color: #ffde00;
    color: #333;
}

div.responsive button.action-button {
    /* border: 1px solid #ffde00; */
    border: none;
    background-color: #ffde00;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffde00', endColorstr='#ffde00');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffde00', endColorstr='#ffde00')";
    background-image: -ms-linear-gradient(top, #ffde00, #ffde00);
    background-image: -webkit-linear-gradient(top, #ffde00, #ffde00);
    background-image: -moz-linear-gradient(top, #ffde00, #ffde00);
    background-image: -o-linear-gradient(top, #ffde00, #ffde00);
    background-image: linear-gradient(top, #ffde00, #ffde00);
    color:#333;
}

div.responsive a.step-button:hover, div.responsive button.step-button:hover, div.responsive input.step-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##e6c700', endColorstr='##e6c700');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='##e6c700', endColorstr='##e6c700')";
    background-image: -ms-linear-gradient(top, ##e6c700, ##e6c700);
    background-image: -webkit-linear-gradient(top, ##e6c700, ##e6c700);
    background-image: -moz-linear-gradient(top, ##e6c700, ##e6c700);
    background-image: -o-linear-gradient(top, ##e6c700, ##e6c700);
    background-image: linear-gradient(top, ##e6c700, ##e6c700);
}

h1,h2,h3{
    color: #333;
}

.styled-select {
    background: url(https://secure2.convio.net/cco/images/content/pagebuilder/dropdown_bg_dark.png) no-repeat 100% 0;
}

@media only screen and (max-width: 736px){
    .donation-level-container .form-content {
        width: 30%;
    }

    .donation-level-container .user-entered-level .form-content {
        width: 100%;
    }
}

@media only screen and (max-width: 736px) {
    .radio-button-container.inline {
        width: 30%;
        margin-right:5px;
    }
}