
div.responsive .donation-level-input-container label {
    background-color: #333;
}

h1,h2,h3{
    color: #333;
}

.styled-select {
    background: url(../img/dropdown_bg_dark.png) no-repeat 100% 0;
}